<div class="container py-5" dir="rtl">
    <div class="row">
      <div class="col-md-8">
        <h3 class="mb-4">تفاصيل الطلبية</h3>
        
        <div class="card mb-4">
          <div class="card-body">
            <form #checkoutForm="ngForm" (ngSubmit)="submitOrder(checkoutForm)">
              <!-- الاسم الكامل -->
              <div class="mb-3">
                <label class="form-label">الاسم الكامل</label>
                <input 
                  type="text" 
                  class="form-control" 
                  name="name" 
                  ngModel 
                  #name="ngModel" 
                  required
                >
                <div *ngIf="name.invalid && name.touched" class="text-danger">
                  هذا الحقل مطلوب.
                </div>
              </div>
            
              <!-- اسم الصيدلية -->
              <div class="mb-3">
                <label class="form-label">اسم الصيدلية</label>
                <input 
                  class="form-control" 
                  name="pharmaName" 
                  ngModel 
                  #pharmaName="ngModel" 
                  required
                >
                <div *ngIf="pharmaName.invalid && pharmaName.touched" class="text-danger">
                  هذا الحقل مطلوب.
                </div>
              </div>
            
              <!-- رقم واتساب -->
              <div class="mb-3">
                <label class="form-label">رقم واتساب</label>
                <input 
                  type="tel" 
                  class="form-control" 
                  name="phone" 
                  ngModel 
                  #phone="ngModel" 
                  required 
                  pattern= {{regexPhone}}
                >
                <div *ngIf="phone.invalid && phone.touched" class="text-danger">
                  يرجى إدخال رقم هاتف صحيح كاملا مع رمز الدولة.
                </div>
              </div>
            
              <!-- العنوان -->
              <div class="mb-3">
                <label class="form-label">العنوان</label>
                <textarea 
                  class="form-control" 
                  name="address" 
                  ngModel 
                  #address="ngModel" 
                  required
                ></textarea>
                <div *ngIf="address.invalid && address.touched" class="text-danger">
                  هذا الحقل مطلوب.
                </div>
              </div>
            
              <!-- زر تأكيد الطلبية -->
              <button 
                class="btn btn-success w-100" 
                type="submit"
                [disabled]="checkoutForm.invalid || cartItems.length === 0"
              >
                تأكيد الطلبية
              </button>
            </form>
            
          </div>
        </div>
      </div>
  
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">ملخص الطلبية</h5>
            <div *ngFor="let item of cartItems" class="mb-3">
              <div class="d-flex justify-content-between">
                <span>{{ item.productName }} (${{item.publicPrice}}×{{ item.quantity }})</span>
                <span>{{ item.publicPrice * item.quantity | currency }}</span>
              </div>
            </div>
            <hr>
            <div class="d-flex justify-content-between fw-bold">
              <span>المجموع الكلي:</span>
              <span>{{ getTotal() | currency }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>