<form [formGroup]="cartForm" *ngIf="!isLoadingCarts">
  <tbody formArrayName="carts">
    <ng-container *ngIf="carts.controls.length > 0; else noProducts">
      <tr *ngFor="let cart of carts.controls; let i = index" [formGroupName]="i">
        <td colspan="4">
          <div *ngIf="getCustomer(cart) as customer" [formGroup]="customer">
            <label class="form-label">Customer Name:</label>
            <input type="text" class="form-control" formControlName="name" />

            <label class="form-label">Pharma Name:</label>
            <input type="text" class="form-control" formControlName="pharmaName" />

            <label class="form-label">Address:</label>
            <input type="text" class="form-control" formControlName="address" />

            <label class="form-label">Phone Number:</label>
            <input type="text" class="form-control" formControlName="phoneNumber" />
          </div>
        </td>
        <td>
          <app-table
            [productForm]="productForm"
            [isLoading]="isLoading"
            [products]="products"
            [errorMessage]="errorMessage"
            (patchActive)="patchActive($event.index, $event.product)"
          ></app-table>
        </td>
      </tr>
    </ng-container>
  </tbody>

  <ng-template #noProducts>
    <tr>
      <td colspan="6" class="text-center text-muted">
        No suppliers found. Add new supplier using the button below.
      </td>
    </tr>
  </ng-template>
</form>
